
  <form>
    <fieldset>
        <legend><h2>Make a new entry</h2></legend>
         <p>
        <label>Name here:
            <input type="text" name="Name_input" id = "name" size="30" maxlength="100">
        </label>
        </p>
        <p> 
        <label>Reps here:
            <input type="text" name="Reps_input" id = "reps" size="30" maxlength="100">
        </label>
        </p>
        <p>
         <label>Weight here:
            <input type="text" name="Weight_input" id = "weight" size="30" maxlength="100">
        </label>
         <p>
         <label>Date here:
            <input type="date" name="Date_input" id = "date" size="30" maxlength="100">
        </label>
         <p>
         <label>lbs here(1 indicates labs, 0 indicate kgs):
            <input type="text" name="Lbs_input" id = "lbs" size="1" maxlength="1">
        </label>
        <p>
         <input type="Submit" value="Submit" id = "Submit"/>
        </fieldset>


         <li><span>response : </span><span id="response"></span></li>

      <div>
      <legend><h2>Workout track</h2></legend>
      

    </div>
    
</form>

<p>Click the button to add a new row at the first position of the table and then add cells and content.</p>

<table id="myTable">
  <tr>
    <td>name</td>
    <td>reps</td>
    <td>weight</td>
    <td>date</td>
    <td>lbs</td>
    <td>edit</td>
    <td>delete</td>
  </tr>

</table>
<br>

<!--<button onclick="myFunction()">Try it</button>-->




