<!DOCTYPE html>
<html>
<head>
	<title>To-Do List</title>
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
	{{{ body }}}
  <script src="js/app.js"></script>
</body>
</html>
