


<p>Update</p>

<table id="myTable">
  <tr>
    <td>name</td>
    <td>reps</td>
    <td>weight</td>
    <td>date</td>
    <td>lbs</td>
    <td>edit</td>
    <td>delete</td>
  </tr>

  


</table>
<br>

<!--<button onclick="myFunction()">Try it</button>-->




