<!doctype html>
<html>
<head>
	<title>Database UI</title>
	 <link href="/css/style.css" type="text/css" rel="stylesheet" />
	 <script src="/javascript/client.js" ></script>
</head>
<body>
	{{{body}}}
</body>
</html>