<h1>POST Request Received</h1>
{{#if queryList.length}}
	<h2>Query String Contents</h2>
	<table style="width: 100%">
		<tr>
			<th>Parameter Name</th>
			<th>Parameter Value</th>
		</tr>
		{{#each queryList}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.value}}</td>
			</tr>
		{{/each}}
	</table>
{{/if}}
{{#if bodyList.length}}
	<h2>Body Payload Contents</h2>
	<table style="width: 100%">
		<tr>
			<th>Parameter Name</th>
			<th>Parameter Value</th>
		</tr>
		{{#each bodyList}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.value}}</td>
			</tr>
		{{/each}}
	</table>
{{/if}}
