<h2>Update Workout list</h2>

<form>
    Name:
    <input type="text" name="name" id="name" value="value"><br>
    Reps:
    <input type="number" name="reps" id="reps"><br>
    Weight:
    <input type="number" name="weight" id="weight"><br>
    Date:
    <input type="date" name="date" id="date"><br>
    LBS:
    <input type="number" name="lbs" id="lbs"><br>
    <input type="hidden" name="id">
    <input type="Submit" name="Save" value="Save" id="Save">
</form>

